body {
    display: table;
    width: 100%;
    height: 100vh;
    margin: 0;
}

h1, h2, h3 {
    margin: 2vh;
}

.controls {
    margin: 2vh;
    padding: 3px;
    margin-bottom: 5px;
}

#fotoOriginal, #canvas {
    max-width: 300px;
    width: auto;
    height: auto;
    margin: 2vh;
    border: 1px solid #000000;
}

#tituloFundoRemovido {
    cursor: pointer;
    transition: color 0.5s;
}

#tituloFundoRemovido:hover {
    color: green;
}

#canvas {
    display: none;
}